@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    max-width: 980px;
    margin:auto;
}

#chosen {
    justify-content: space-around;
    font-size: 3.5rem;
}

.header-nav .logo {
    font-size: 3.5rem;
    text-align: center;
}

.header-nav .menu-items {
    justify-content: space-around;
    flex: 1;
    display: none;
}

.header-nav .menu-items a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 5px;
    border: 1px solid transparent;
}

.header-nav .menu-items a:hover {
    border: 1px solid black;
}

/* Burger menu */
.burger-icon {
    font-size: 2rem;
}

.burger-icon:hover {
    cursor: pointer;
}

#burger-checkbox {
    display: none;
}

.header-nav input:checked ~ .menu-items {
    display: block;
}

@media (min-width: 769px) {

    .burger-icon {
        display: none;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    #burger-checkbox ~ .menu-items {
        display: flex;
    }

}

.header-banner {
    background-image: url(../img/nikeandadidas.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-banner h1 {
    font-size: 3.5rem;
    color: black;
    font-family: 'Indie Flower', cursive;
}